#nprogress {
  pointer-events: none;
  position: relative;
  z-index: 9999999;
  right: 0;
}

#nprogress .bar {
  @apply bg-primary fixed w-full top-0 left-0 h-0.5;

  z-index: 100;
}

/* Fancy blur effect */
#nprogress .peg {
  @apply block absolute h-full opacity-100 right-0;

  width: 100px;
  box-shadow:
    0 0 10px var(--color-accent),
    0 0 5px var(--color-accent) !important;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
}

#nprogress .spinner-icon {
  border: solid 2px transparent;
  @apply h-6 w-6 border-t-primary border-l-primary box-border;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 500ms linear infinite;
  animation: nprogress-spinner 500ms linear infinite;
}

.nprogress-custom-parent {
  @apply overflow-hidden relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute;
}

@-webkit-keyframes nprogress-spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  to {
    transform: rotate(360deg);
  }
}
